<p id="notice"><%= notice %></p>

<h1>Temporada Capitulos</h1>

<table>
  <thead>
    <tr>
      <th>Num temporada</th>
      <th>Num capitulo</th>
      <th>Activo</th>
      <th>Activo desde</th>
      <th>Activo hasta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temporada_capitulos.each do |temporada_capitulo| %>
      <tr>
        <td><%= temporada_capitulo.num_temporada %></td>
        <td><%= temporada_capitulo.num_capitulo %></td>
        <td><%= temporada_capitulo.activo %></td>
        <td><%= temporada_capitulo.activo_desde %></td>
        <td><%= temporada_capitulo.activo_hasta %></td>
        <td><%= link_to 'Show', temporada_capitulo %></td>
        <td><%= link_to 'Edit', edit_temporada_capitulo_path(temporada_capitulo) %></td>
        <td><%= link_to 'Destroy', temporada_capitulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temporada Capitulo', new_temporada_capitulo_path %>
