<p id="notice"><%= notice %></p>

<h1>Canciones</h1>

<table>
  <thead>
    <tr>
      <th>Url youtube</th>
      <th>Url spotify</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Temporada capitulo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canciones.each do |cancione| %>
      <tr>
        <td><%= cancione.url_youtube %></td>
        <td><%= cancione.url_spotify %></td>
        <td><%= cancione.nombre %></td>
        <td><%= cancione.activo %></td>
        <td><%= cancione.temporada_capitulo_id %></td>
        <td><%= cancione.descripcion %></td>
        <td><%= link_to 'Show', cancione %></td>
        <td><%= link_to 'Edit', edit_cancione_path(cancione) %></td>
        <td><%= link_to 'Destroy', cancione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cancione', new_cancione_path %>
